.App {
  text-align: center;
  max-width: 520px;
  background: #23252C;
}

.photo-container {
  padding-top: 45px;
  overflow: hidden;
}

img.photo {
  height: 320px;
  pointer-events: none;
  border-radius: 10px 10px 0 0;
}

.App-link {
  color: #61dafb;
}

